---
title: Science Fiction
layout: layout.njk
---
<h2>Science Fiction</h2>
<ul>
  {% for post in collections.scifi %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      — {{ post.date | date("yyyy-MM-dd") }}
    </li>
  {% endfor %}
</ul>