---
title: Home
layout: layout.njk
---

<h2>Recent Posts</h2>

<ul>
  {% for post in collections.blog | reverse | slice(0, 5) %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      <p>{{ post.templateContent | truncate(200, true, "…") }}</p>
    </li>
  {% endfor %}
</ul>
