<nav class="text-sm flex gap-4">
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
  <a href="/fiction/">Fiction</a>
  <a href="/nonfiction/">Non-Fiction</a>
  <a href="/about/">About</a>
  <a href="/contact/">Contact</a>
</nav>